doctype html
html
    head
        title The Workers
        link( rel='stylesheet', type='text/css', href='/homepage.css' )
    body
        #header
            h1 The Workers
            h2 Seriously Playful, Sometimes Digital, Design Studio
            ul.skills
                li: a( href='' ) Design,
                li: a( href='' ) Collaboration,
                li: a( href='' ) UX & IA,
                li: a( href='' ) Web Development,
                li: a( href='' ) Unity, 
                li: a( href='' ) Openframeworks,
                li: a( href='' ) Animation, 
                li: a( href='' ) Events, 
                li: a( href='' ) Video,
                li: a( href='' ) Live Streaming, 
                li: a( href='' ) 3D Modelling,
                li: a( href='' ) Rendering,
                li: a( href='' ) Prototyping, 
                li: a( href='' ) Mobile,
                li: a( href='' ) App Development,
                li: a( href='' ) Installations,
                li: a( href='' ) Performances,
                li: a( href='' ) Speaking,
                li: a( href='' ) Technology,
                li: a( href='' ) WebGL,
                li: a( href='' ) Three.js
        #content
            ul.projects
                li: a( href='' ) Afterdark
                li: a( href='' ) Where-you-are
                li: a( href='' ) HTC Straylight
                li: a( href='' ) Bloomberg Connects
                li: a( href='' ) Awesomecross
                li: a( href='' ) Map Project Office
                li: a( href='' ) Studio Blackburn
                li: a( href='' ) /o/o/o/o/
                li: a( href='' ) Seset & Allude
            .columns
                .column.column-a 
                    p The Workers (London) Ltd.
                        br
                        | 32 Sunbury Workshops,
                        br
                        | Swanfield Street
                        br
                        | London E2 7LF
                        br 
                        a( href='map' )
                .column.column-b 
                    h3 Contact
                    p io@theworkers.net
                    h3 Ross Cairns
                    p: a( href='mailto:r@theworkers.net' ) r@theworkers.net
                        br
                        | +(44) 77 512 44 728
                    h3
                    p Tommaso Lanza
                    p: a href='mailto:t@theworkers.net' ) t@theworkers.net
                        br 
                        | +(44) 77 512 44 728
                .column.column-c
                    p Twitter: 
                       a( href='http://twitter.com/theworkers' )
                    p Company No. 7512173
            .logos
                .logo: img( src="logo-blue.png" )
                .logo: img( src="logo-green.png" )
                .logo: img( src="logo-pink.png" )
                .logo: img( src="logo-blue.png" )
                .logo: img( src="logo-green.png" )
                .logo: img( src="logo-pink.png" )
            p At
                br
                | the intersection
                br
                | of physical and digital
                br
                | The Workers went up


    
        
        
